<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
  </head>
  <body style="margin:0; padding:0;">
    <div id="errorimage">
      <img
        src="error.png"
        style="height:50%; width:80%; margin:50px 100px 50px 130px;"
      />
    </div>
    <button style="width:150px; height:50px;background-color:navy;box-shadow:7px 7px 15px black;border-radius:10px;margin-left:40%;cursor:pointer;"><a href='/weather' style="color:white;text-decoration:none;font-weight:bold;font-size:20px;">Home</a></div>
  </body>
</html>