<div id="header">
  <ul style="display:flex;">
    <li id="weatherlogo"><i class="fa-solid fa-snowflake"></i>
      Weather
      <i class="fa-solid fa-snowflake"></i>
    </li>
    <li><a href="/weather">Home</a></li>
    <li id="weatherforcast"><a href="/city">Weather</a></li>

  </ul>
</div>