<div id="footer">
  <p>Design And Developed By Hardik Sharma</p>
  <small><i
      class="fa-brands fa-instagram-square"
      style="margin-right:20px; cursor:pointer;"
    ></i><i
      class="fa-brands fa-facebook"
      style="margin-right:20px;cursor:pointer;"
    ></i><i
      class="fa-brands fa-twitter"
      style="margin-right:20px;cursor:pointer;"
    ></i><i
      class="fa-brands fa-youtube"
      style="margin-right:20px; cursor:pointer;"
    ></i></small>

</div>